:root {
  --dark-navy: #2c3840;
  --white: #fff;
  --bg-blue: #487ebd;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #404040;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 80rem;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
section {
  padding: 60px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #1583cc;
}

a:active,
a:hover {
  outline: 0;
}
/* a:visited {
  color: #115b8d;
} */
h1 {
  font-size: 2.5em;
  margin: 0.67em 0;
}
h2 {
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

p {
  margin-bottom: 1.5em;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
img {
  max-width: 100%;
}
pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  background-color: #18283a;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  color: var(--white);
}
code {
  padding: 20px 10px;
  display: block;
  background-color: #18283a;
  border: 1px solid #ccc;
  color: var(--white);
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
figure {
  display: block;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type='submit']:hover,
.form-contact .button:hover {
  background-color: var(--bg-blue);
  color: var(--white);
  border: 2px solid var(--bg-blue);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='text'],
input[type='email'],
textarea {
  color: #666;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 4px;
  border: 2px solid var(--bg-blue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 2px solid #555;
}

[type='submit']:hover,
.form-contact .button:hover {
  background-color: var(--white);
  color: #444;
  border: 2px solid var(--bg-blue);
}

[type='submit'] {
  border: 2px solid var(--bg-blue);
  background-color: var(--bg-blue);
  color: var(--white);
  padding: 16px 26px;
  padding-bottom: 9.1px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  width: 100%;
}
.grid {
  display: grid;
  grid-gap: 30px;
}
.flex {
  display: flex;
  align-items: center;
}

.site-header,
.site-footer {
  background-color: var(--dark-navy);
  width: 100%;
  color: var(--white);
  padding: 10px 0;
}
.site-title a {
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 1s ease-in;
  transition: color 1s ease-in;
}
.site-title a:hover {
  color: #d5f7ff;
}
.site-header .flex {
  justify-content: space-between;
}
.menu a {
  display: block;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.menu a:hover,
.menu a.nuxt-link-exact-active {
  color: #1583cc;
}

.text-center {
  text-align: center;
}
.hero {
  /* background-image: url('~/static/hero.jpg'); */
  background-image: url('https://i.postimg.cc/7LTmfKWv/hero.jpg');
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293a43;
  opacity: 0.62;
}
.hero-content {
  display: grid;
  z-index: 1;
  color: var(--white);
  padding: 60px 20px;
  text-align: center;
  position: relative;
}
.hero-title {
  font-size: 5rem;
  margin-bottom: 0.2rem;
}
.hero-text {
  font-size: 2rem;
}
.projects,
.project-wrapper,
.project-list {
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  color: #333 !important;
  background-color: #f7f7f7;
  transition: background-color 0.25s ease;
  overflow: hidden;
}
.project-card:hover {
  background-color: #ededed;
}
.project-body,
.project-footer {
  padding: 20px 15px;
}
.project-list__card {
  overflow: hidden;
  border-radius: 8px;
  transition: background-color 0.25s ease;
}
.project-list__img {
  height: 280px;
  background-size: cover;
  background-position: center;
  transition: transform 0.25s ease;
}

.project-list__card:hover .project-list__img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
  -ms-transform: scale(1.05) translateY(-6.5px);
  transform: scale(1.05) translateY(-6.5px);
}
.project-list-link {
  margin-top: 30px;
  padding: 35px 0 15px 0;
  text-align: center;
}
.project-list-link .button {
  padding: 16px 38px;
}
.card-body {
  padding: 20px;
}
.all-articles .flex {
  justify-content: space-between;
  align-items: stretch;
}
.post-articles {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.post-header {
  position: relative;
  height: 380px;
}
.post-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}
.post-image:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.post-title h1 {
  font-size: 1.6rem;
}
.single-post {
  max-width: 980px;
  margin: auto;
}
.post {
  padding: 10px 0 25px 0;
}
.button,
.error-button {
  background-color: var(--bg-blue);
  padding: 10px 32px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: var(--white);
  border: 2px solid var(--white);
}
.button:hover,
.error-button:hover {
  background-color: var(--white);
  color: #444;
  border: 2px solid var(--bg-blue);
}
.error-button {
  padding: 18px 36px;
}
.fade-enter-active {
  animation: coming 0.4s;
  animation-delay: 0.2s;
  opacity: 0;
}
.fade-leave-active {
  animation: going 0.4s;
}
@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entry-title:link,
.entry-title:visited {
  color: #1583cc;
}
.entry-title {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.entry-title:link:hover,
.entry-title:link:focus,
.entry-title:visited:hover,
.entry-title:visited:focus {
  color: #404040;
}
.skills {
  background-color: #fafafa;
}
.skills .section_title {
  margin-bottom: 40px;
}

.skills .icon-wrapp {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  align-items: center;
}

.skills .icon-wrapp__item {
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skills .icon-wrapp__item .icon {
  width: 90px;
}
.contact-page {
  height: 90vh;
}
.contact-page h2 {
  font-size: 2rem;
}
.form-wrapper {
  max-width: 600px;
  margin: 10px auto;
  padding: 40px 0;
}
.contact-form {
  padding: 20px 0;
  width: 100%;
}

.form-control {
  width: 100%;
}
.icon {
  cursor: pointer;
  transition: all 0.25s ease;
}
.html {
  fill: #e34f26;
}
.css {
  fill: #1572b6;
}
.bootstrap {
  fill: #7952b3;
}

.tailwind {
  fill: #06b6d4;
}

.js {
  fill: #f7df1e;
}

.jq {
  fill: #0769ad;
}

.vue {
  fill: #4fc08d;
}

.nuxt {
  fill: #00dc82;
}

.php {
  fill: #777bb4;
}

.wp {
  fill: #21759b;
}
.icon:hover {
  transform: scale(1.3);
}
.section_title {
  text-align: center;
}
.back {
  position: fixed;
  z-index: 50;
  display: inline-block;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 10px;
}
.to-top {
  border-radius: 50%;
  cursor: pointer;
  background: #1572b6;
  color: var(--white);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  transition: all 0.35s ease;
}
.to-top:hover {
  background: #18283a;
}
.icon-top {
  width: 30px;
  height: 30px;
}
.project-single__link {
  padding-top: 35px;
}
.error {
  text-align: center;
  height: 100vh;
}
.error h1 {
  font-size: 2.5rem;
  color: red;
}
.footer-text {
  padding: 10px;
}
.code-wrapper {
    padding: 25px 0;
    margin-bottom: 10px;
}
.code-wrapper span {
    font-size: 20px;
    font-weight: bolder;
    padding: 7px 10px;
    border: 1px solid #ddd;
    margin: 0 7px;
}
@media only screen and (max-width: 992px) {
  .post-articles {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .icon-wrapp {
    grid-template-columns: repeat(4, 1fr);
  }
  .project-wrapper,
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-list__card {
    margin: 15px 0;
  }
  .form-wrapper {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .skills .icon-wrapp {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-list,
  .project-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-text {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .skills .icon-wrapp {
    grid-template-columns: repeat(2, 1fr);
  }
}
